body{
  margin: 0;
}

.App {
  display: grid;
  font-family: sans-serif;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: xx-large;
  background-color: #093A3E;
  padding-left: 100px;
}

.kanban--logo {
  height: 100px;
  width: 100px;
}

.homepage-title {
  font-size: 5rem;
  color: #093A3E;
}

.homepage-text {
  color: #093A3E;
}

.Content {
  display: grid;
  grid-template-columns: auto 1fr;

}

.SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  background-image: url("Images/Background-sidebar.png") ;
}

.SideBar>a {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100px;
  text-align: center;
  color: #093A3E;
  background-color: white;
}


.MainPage {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.column {
  display: flex;
  justify-content: center;
  padding: 100px;
  flex-direction: column;
  font-weight: bold;
  border-radius: 10px;
  min-height: 200px
}

.Footer {
  min-height: 100px;
  background-color: #093A3E;
}

.git--hub {

  height: 100px;

}

.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  padding-left: 0;
  text-align: center;
}

.nav li {
  background-color: white;
  padding: 1rem;
  border-radius: 10000px;
}

.sidebar-link {
  font-weight: 800;
  color: #093A3E;
}



.AboutPage {
  border: solid black 1px;
  box-shadow: 10px 10px 10px gray;
}



.ShowForm {
  background-color: aqua;
}

.ShowFormButton {
  border: none;
}

.RemoveButton {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}


.ColumnTitle {
  color: black;
}

.TaskItem {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #093A3E;
  border-radius: 5px;
  padding: 2rem;
  width: 30em;
  border: solid 2px white;
}

.btn {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn-submit {
  background-color: white;
  color: #093A3E;
  font-weight: bold;
}

.btn-cancel {
  background-color: white;
  color: #093A3E;
  font-weight: bold;

}

.modal-header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
  color: white;
}

.modal-content {
  margin-bottom: 2rem;
  color: black;
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
}

.error-container {
  display: flex;
  background-color: #F2F2F2;
}

.error-text {
  padding-left: 100px;
  width: 250px;
}

.error-text>h1 {
  font-size: 5rem;
  padding-top: 50px;
}

.error-img>img {
  width: 250px;
  padding: none;
}

.modal-mb {
  margin-bottom: 20px;
}

.modal-row {
  display: flex;
  justify-content: space-evenly;
}

.modal-title {
  color: white;
  font-size: large;
}

.modal-option {
  font-family: sans-serif;
  text-align: center;
  color: #093A3E;
}

.columns{
  display: flex;
  flex-direction: column;
  align-items: center;
}