body{
  margin: 0;
}

.App {
  display: grid;
  font-family: sans-serif;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  min-height: 100vh;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: xx-large;
  background-color: #093A3E;
  padding-left: 100px;
}

.kanban--logo {
  height: 80px;
  width: 80px;
}

.homepage-title {
  font-size: 5rem;
  color: #093A3E;
}

.homepage-text {
  color: #093A3E;
}

.Content {
  display: grid;
  grid-template-columns: auto 1fr;

}

.SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  background-image: url("Images/SideBar.png") ;
  background-size: 300px;
  background-repeat: none;
}

.SideBar>a {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100px;
  text-align: center;
  color: #093A3E;
  background-color: white;
}


.MainPage {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.add-a-card{
  background-color: #093A3E;;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10000px;
  color: white;
}

.column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 50px;
  flex-direction: column;
  font-weight: bold;
  border-radius: 10px;
  min-height: 200px
}

.Footer {
  min-height: 100px;
  background-color: #093A3E;
}

.git--hub {

  height: 100px;
  width: 100px;
  padding-left: 100px;

}

.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  padding-left: 0;
  text-align: center;
}

.nav li {
  background-color: white;
  padding: 1rem;
  border-radius: 10000px;
}

.navbar-title{
  font-size: 3rem;
}

.sidebar-link {
  font-weight: 800;
  color: #093A3E;
}

.AboutPage {
  display: flex;
}

.AboutPage>h1{
  font-size: 5rem;
  color: #093A3E;
}



.ShowForm {
  background-color: aqua;
}

.ShowFormButton {
  border: none;
}

.RemoveButton {
  background-color: #093A3E;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}


.ColumnTitle {
  color: black;
}

.TaskItem {
  background-color: #093A3E;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #093A3E;
  border-radius: 5px;
  padding: 2rem;
  width: 30em;
  border: solid 2px white;
}

.btn {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn-submit {
  background-color: white;
  color: #093A3E;
  font-weight: bold;
}

.btn-cancel {
  background-color: white;
  color: #093A3E;
  font-weight: bold;

}

.modal-header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
  color: white;
}

.modal-content {
  margin-bottom: 2rem;
  color: black;
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F2F2F2;
}

.error-text {
  padding-left: 100px;
  width: 250px;
}

.error-text>h1 {
  font-size: 5rem;
  margin-top: 0;
}

.error-img {
  width: 250px;
  padding: none;
}

.modal-mb {
  margin-bottom: 20px;
}

.modal-row {
  display: flex;
  justify-content: space-evenly;
}

.modal-title {
  color: white;
  font-size: large;
}

.modal-option {
  font-family: sans-serif;
  text-align: center;
  color: #093A3E;
}

.dashboard-title{
  color: #093A3E;
  font-size: 5rem;
  margin-bottom: 0;
}

.single-task-row, .single-task-header, .single-task-info{
  border: solid white;
  border-radius: 10px;
  color: white;
  background-color: #093A3E;
}

.single-task-list{
  margin: 10px 0;
}

.textarea, .input{
  border-radius: 5px;
}

.single-task-info{
  height: 80px;
  padding: 0 10px;
}

.task-name{
  width: 460.8px;
}

.edit-btn{
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: #093A3E;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 18%;
}

.card{
  color: #F2F2F2;
  padding: 10px;
  border-radius: 10px;
}