body{


  
}

.App{
  display: grid;
  font-family: sans-serif;
  grid-template-rows:auto 1fr auto;
  margin: 0;
  min-height: 100vh;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  gap: 10px;

}

.header-background{
  display: inline-block;
  position: relative;
  left: 15%;
  height: 120px;
  width: 50px;
}


.kanban--logo {
  height: 100px;
  width: 100px;
}

.title {
  font-size: 5rem;
}

.Content {
  display: grid;
  grid-template-columns: auto 1fr ;
  
}

.SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  background-color: aquamarine;
}

.SideBar > a {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: black;
  background-color: white;
  width: 50px;
}

.MainPage {
 /* text-align: center;
 display: grid;
 grid-template-columns: 1fr auto;
   */

   display: flex;
   text-align: center;
   justify-content: space-evenly;


   
}

.column {
  display: flex;
  justify-content: center;
  padding: 100px;
  flex-direction: column;
  font-weight: bold;
  border-radius: 10px;
}

.Footer {
  display: flex ;
  justify-content: flex-start;
  min-height: 100px;
 
}

.git--hub {
 
  height: 100px; 
  
}

.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  padding-left: 0;
  text-align: center;
}

.nav li {
  background-color: white;
  padding: 1rem;
  border-radius: 10000px;
}

.home--link {
  font-weight: 700;
  color: black;
}

.dashboard--link {
  font-weight: 700;
  color: black;
}

.about--link {
  font-weight: 700;
  color: black;
}



.AboutPage{
  border: solid black 1px;
  box-shadow: 10px 10px 10px gray;
}



.ShowForm{
background-color: aqua;
} 

.ShowFormButton{
  border: none;
}

.RemoveButton{
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}


.ColumnTitle{
  color:black;
}

.TaskItem{
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  width: 30em;
}

.btn {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #ccc;
  font-size: 1rem;
}

.btn-submit{
  background-color: rgb(5, 193, 5);
  color: white;
} 

.btn-cancel{
  background-color: #d9534f;
  color: white;
}

.modal-header{
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.modal-content{
  margin-bottom: 2rem;
  color: black;
}

.modal-footer{
  display: flex;
  justify-content: space-evenly;
}

.error-container{
  display: flex;
  background-color: #F2F2F2;
}

.error-text{
  padding-left: 100px;
  width: 250px;
}

.error-text > h1{
  font-size: 5rem;
  padding-top: 50px;
}

.error-img > img{
  width: 250px;
  padding: none;
}